@{
    ViewBag.Title = "Index";
}

<h1></h1>
<div class="row">
    <div class="col-md-4">
        <h2>Employer</h2>
        <p>
            Reach most people through us
        </p>
        <p>@Html.ActionLink("Employer", "Create", "NewAccountEmployeer", null, new { @class = "btn btn-default" })</p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Register &raquo;</a></p>  -->
    </div>

    <div class="col-md-4">
        <h2>Job Seeker</h2>
        <p>Find your favourite jobs</p>
        <p>@Html.ActionLink("Job Seeker", "Create", "NewAccountJobSeeker", null, new { @class = "btn btn-default" })</p>
        <!-- <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Log in &raquo;</a></p> -->
    </div>


</div>
@section scripts {
    <script> var testing = true; </script>
}
